In [2]:
import pandas as pd
from sqlalchemy import create_engine
from config import password

In [3]:
#load in suicide rates data and create pandas datafile
suicide_file = "Resources/SuicideRates.csv"
suicide_df = pd.read_csv(suicide_file)
suicide_df.head(50)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
5,Albania,1987,female,75+ years,1,35600,2.81,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
6,Albania,1987,female,35-54 years,6,278800,2.15,Albania1987,NaN,"2,156,624,900",796,Silent
7,Albania,1987,female,25-34 years,4,257200,1.56,Albania1987,NaN,"2,156,624,900",796,Boomers
8,Albania,1987,male,55-74 years,1,137500,0.73,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
9,Albania,1987,female,5-14 years,0,311000,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
10,Albania,1987,female,55-74 years,0,144600,0.00,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
11,Albania,1987,male,5-14 years,0,338200,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
12,Albania,1988,female,75+ years,2,36400,5.49,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
13,Albania,1988,male,15-24 years,17,319200,5.33,Albania1988,NaN,"2,126,000,000",769,Generation X
14,Albania,1988,male,75+ years,1,22300,4.48,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
15,Albania,1988,male,35-54 years,14,314100,4.46,Albania1988,NaN,"2,126,000,000",769,Silent
16,Albania,1988,male,55-74 years,4,140200,2.85,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
17,Albania,1988,female,15-24 years,8,295600,2.71,Albania1988,NaN,"2,126,000,000",769,Generation X
18,Albania,1988,female,55-74 years,3,147500,2.03,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
19,Albania,1988,female,25-34 years,5,262400,1.91,Albania1988,NaN,"2,126,000,000",769,Boomers
20,Albania,1988,male,25-34 years,5,279900,1.79,Albania1988,NaN,"2,126,000,000",769,Boomers
21,Albania,1988,female,35-54 years,4,284500,1.41,Albania1988,NaN,"2,126,000,000",769,Silent
22,Albania,1988,female,5-14 years,0,317200,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
23,Albania,1988,male,5-14 years,0,345000,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
24,Albania,1989,male,75+ years,2,22500,8.89,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
25,Albania,1989,male,25-34 years,18,283600,6.35,Albania1989,NaN,"2,335,124,988",833,Boomers
26,Albania,1989,male,35-54 years,15,318400,4.71,Albania1989,NaN,"2,335,124,988",833,Silent
27,Albania,1989,male,55-74 years,6,142100,4.22,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
28,Albania,1989,male,15-24 years,12,323500,3.71,Albania1989,NaN,"2,335,124,988",833,Generation X
29,Albania,1989,female,35-54 years,7,288600,2.43,Albania1989,NaN,"2,335,124,988",833,Silent
30,Albania,1989,female,15-24 years,5,299900,1.67,Albania1989,NaN,"2,335,124,988",833,Generation X
31,Albania,1989,female,25-34 years,2,266300,0.75,Albania1989,NaN,"2,335,124,988",833,Boomers
32,Albania,1989,female,55-74 years,1,149600,0.67,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
33,Albania,1989,female,5-14 years,0,321900,0.00,Albania1989,NaN,"2,335,124,988",833,Generation X
34,Albania,1989,female,75+ years,0,37000,0.00,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
35,Albania,1989,male,5-14 years,0,349700,0.00,Albania1989,NaN,"2,335,124,988",833,Generation X
36,Albania,1992,male,35-54 years,12,343800,3.49,Albania1992,NaN,"709,452,584",251,Boomers
37,Albania,1992,male,15-24 years,9,263700,3.41,Albania1992,NaN,"709,452,584",251,Generation X
38,Albania,1992,male,55-74 years,5,159500,3.13,Albania1992,NaN,"709,452,584",251,Silent
39,Albania,1992,male,25-34 years,7,245500,2.85,Albania1992,NaN,"709,452,584",251,Boomers
40,Albania,1992,female,15-24 years,7,292400,2.39,Albania1992,NaN,"709,452,584",251,Generation X
41,Albania,1992,female,25-34 years,4,267400,1.50,Albania1992,NaN,"709,452,584",251,Boomers
42,Albania,1992,female,35-54 years,2,323100,0.62,Albania1992,NaN,"709,452,584",251,Boomers
43,Albania,1992,female,55-74 years,1,164900,0.61,Albania1992,NaN,"709,452,584",251,Silent
44,Albania,1992,female,5-14 years,0,336700,0.00,Albania1992,NaN,"709,452,584",251,Millenials
45,Albania,1992,female,75+ years,0,38700,0.00,Albania1992,NaN,"709,452,584",251,G.I. Generation
46,Albania,1992,male,5-14 years,0,362900,0.00,Albania1992,NaN,"709,452,584",251,Millenials
47,Albania,1992,male,75+ years,0,23900,0.00,Albania1992,NaN,"709,452,584",251,G.I. Generation
48,Albania,1993,male,15-24 years,18,243300,7.40,Albania1993,NaN,"1,228,071,038",437,Generation X
49,Albania,1993,male,55-74 years,7,165000,4.24,Albania1993,NaN,"1,228,071,038",437,Silent

In [4]:
suicide_df_2016 = suicide_df.loc[suicide_df['year']==2016]
suicide_df_2016 = suicide_df_2016.drop(['country-year','sex'], axis=1)
suicide_df_2016 = suicide_df_2016.groupby(['country'])
suicide_df_2016 = suicide_df_2016['suicides_no'].sum()
suicide_df_2016 = pd.DataFrame(suicide_df_2016).reset_index()
suicide_df_2016.columns = ['country', 'suicidecount']

In [5]:
suicide_df_2016.head()

          country  suicidecount
0         Armenia            67
1         Austria          1201
2         Croatia           683
3          Cyprus            36
4  Czech Republic          1318

In [6]:
#load in coffee data and create pandas datafile
coffee_file = "Resources/domestic-consumption.csv"
coffee_df = pd.read_csv(coffee_file)
coffee_df.head(100)

,domestic_consumption,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Angola,20.000,30.000,35.000,20.000,25.000,10.000,20.000,40.000,30.000,...,30.000,30.000,30.000,30.000,30.000,30.000,30.000,30.0000,30.000,30.000
1,Bolivia (Plurinational State of),25.000,27.000,27.500,28.500,29.500,30.500,31.500,32.500,33.000,...,46.000,47.500,49.000,50.500,52.000,53.500,55.000,57.0000,58.500,60.000
2,Brazil,8200.000,8500.000,8900.000,9100.000,9300.000,10100.000,11000.000,11500.000,12200.000,...,18390.000,19132.000,19720.000,20330.000,20085.000,20333.000,20508.000,21225.0000,21997.000,22250.000
3,Burundi,2.000,1.600,1.700,1.910,2.000,2.000,2.000,2.000,2.000,...,1.399,2.000,2.000,2.000,2.000,2.000,2.000,2.0000,2.000,2.000
4,Ecuador,350.000,350.000,350.000,350.000,350.000,350.000,300.000,300.000,300.000,...,150.000,150.000,150.000,150.000,155.000,155.000,155.000,155.0000,155.000,155.000
5,Indonesia,1242.000,1280.000,1319.000,1359.000,1400.000,1443.000,1486.000,1532.000,1578.000,...,3333.000,3333.000,3667.000,3900.000,4250.000,4417.000,4550.000,4650.0000,4750.000,4800.000
6,Madagascar,350.000,300.000,350.000,360.000,166.666,167.000,167.000,167.000,167.000,...,467.000,467.000,450.000,430.000,410.000,390.000,370.000,360.0000,365.000,375.000
7,Malawi,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000,...,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.0000,1.000,1.000
8,Papua New Guinea,3.000,3.000,3.000,2.000,2.000,2.000,2.000,2.000,1.000,...,2.000,1.430,1.236,1.711,2.039,1.924,1.800,2.0000,2.000,2.000
9,Paraguay,15.000,15.000,15.000,20.000,20.000,20.000,20.000,20.000,20.000,...,20.000,20.000,20.000,20.000,20.000,20.000,20.000,20.0000,20.000,20.000
10,Peru,190.000,190.000,200.000,200.000,200.000,200.000,200.000,200.000,200.000,...,250.000,250.000,250.000,250.000,250.000,250.000,250.000,250.0000,250.000,250.000
11,Rwanda,1.000,1.000,1.000,1.000,1.000,1.000,1.000,3.000,3.000,...,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.0000,1.000,1.000
12,Timor-Leste,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.490,0.490,0.490,0.490,0.490,0.490,0.4900,0.490,0.490
13,Zimbabwe,8.000,8.000,8.000,8.333,8.333,6.600,4.000,4.000,4.000,...,4.000,4.000,4.000,4.000,4.000,4.000,4.000,4.0000,4.000,4.000
14,Congo,3.000,2.667,2.667,3.000,3.000,3.000,3.000,3.000,3.000,...,3.000,3.000,3.000,3.000,3.000,3.000,3.000,3.0000,3.000,3.000
15,Cuba,213.000,213.000,195.000,194.100,194.000,194.000,189.000,195.000,200.000,...,220.000,220.000,220.000,220.000,220.000,220.000,220.000,220.0000,220.000,220.000
16,Dominican Republic,320.000,320.000,320.000,320.000,330.000,350.000,325.000,325.000,325.000,...,378.000,378.000,378.000,378.000,383.333,388.000,388.000,390.0000,390.000,390.000
17,Haiti,220.000,330.000,330.000,330.000,330.000,330.000,330.000,330.000,330.000,...,340.000,340.000,340.000,340.000,340.000,340.000,340.000,340.0000,340.000,345.000
18,Philippines,720.000,750.000,750.000,770.000,790.000,810.000,831.000,853.000,810.000,...,1820.000,2125.000,2175.000,2325.000,2550.000,2800.000,3000.000,3030.0000,3180.000,3300.000
19,Tanzania,4.000,3.500,19.200,17.500,17.500,13.600,16.600,17.000,17.000,...,47.000,47.000,58.950,71.700,73.467,76.717,92.050,91.3000,91.667,92.000
20,Zambia,1.500,1.500,1.432,1.000,1.500,0.600,1.000,0.600,0.600,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.000,0.000
21,Benin,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.000,0.000
22,Cameroon,83.300,83.333,83.333,100.000,100.000,100.000,100.000,100.000,100.000,...,69.000,68.333,70.017,71.733,73.483,75.317,76.000,77.0000,78.000,78.000
23,Central African Republic,28.000,28.000,28.000,25.000,15.000,10.000,10.000,10.000,19.000,...,8.333,10.000,13.333,16.667,20.000,20.000,20.000,20.0000,20.000,20.000
24,Colombia,1235.000,1269.000,1303.000,1339.000,1375.000,1359.000,1343.000,1328.000,1312.000,...,1274.479,1311.024,1435.065,1514.242,1617.020,1665.451,1720.373,1736.4414,1793.271,1791.410
25,Costa Rica,375.000,375.000,375.000,375.000,375.000,375.000,375.000,375.000,375.000,...,295.441,407.221,380.888,423.097,335.060,380.742,448.821,329.4570,353.334,365.000
26,Côte d'Ivoire,50.000,50.000,50.000,50.000,50.000,50.000,50.000,50.000,50.000,...,317.000,317.000,317.000,317.000,317.000,317.000,317.000,317.0000,317.000,317.000
27,Democratic Republic of Congo,200.000,200.000,200.000,200.000,200.000,200.000,200.000,200.000,200.000,...,200.000,200.000,200.000,200.000,200.000,200.000,200.000,200.0000,200.000,200.000
28,El Salvador,180.000,180.000,230.000,230.000,230.000,270.000,230.000,191.667,191.667,...,268.300,276.000,273.400,276.600,275.000,280.000,285.000,292.0000,300.000,300.000
29,Equatorial Guinea,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.000,0.000
30,Ethiopia,1200.000,1264.000,1331.000,1402.000,1476.000,1555.000,1637.000,1724.000,1816.000,...,3210.000,3383.000,3383.000,3400.000,3550.000,3625.000,3700.000,3725.0000,3750.000,3800.000
31,Gabon,1.700,1.000,0.800,0.800,1.000,0.800,0.833,0.800,0.800,...,0.250,0.947,1.032,0.967,0.583,0.517,0.500,0.5000,0.500,0.500
32,Ghana,17.000,17.000,17.000,17.000,28.000,28.000,3.000,3.000,1.000,...,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.0000,2.000,2.000
33,Guatemala,300.000,300.000,300.000,310.000,310.000,310.000,300.000,300.000,300.000,...,320.000,340.000,350.000,360.000,370.000,380.000,390.000,390.0000,395.000,395.000
34,Guinea,25.000,25.000,62.500,33.000,50.000,50.000,50.000,50.000,50.000,...,50.000,50.000,50.000,50.000,50.000,50.000,50.000,50.0000,50.000,50.000
35,Guyana,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,4.867,...,8.233,8.500,8.600,8.700,8.800,8.900,9.000,9.0000,9.000,9.000
36,Honduras,188.154,257.100,240.000,230.000,253.000,161.000,167.924,161.000,138.000,...,306.667,335.000,340.000,345.000,350.000,355.000,365.000,370.0000,375.000,375.000
37,India,903.000,916.667,917.000,833.333,835.000,837.000,838.000,839.000,900.000,...,1325.000,1325.000,1325.000,1375.000,1400.000,1430.000,1450.000,1440.0000,1470.000,1475.000
38,Jamaica,7.000,11.000,6.000,9.600,15.000,15.000,18.000,20.000,14.800,...,9.000,9.000,9.000,9.000,9.000,9.000,9.000,9.0000,9.000,9.000
39,Kenya,50.000,50.000,50.000,50.000,50.000,50.000,50.000,50.000,50.000,...,50.000,50.000,50.000,50.000,55.000,55.000,60.000,60.0000,65.000,70.000
40,Lao People's Democratic Republic,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,150.000,150.000,150.000,150.000,150.000,150.000,150.000,150.0000,155.000,155.000
41,Liberia,3.000,3.000,3.000,5.000,5.000,5.000,5.000,5.000,5.000,...,5.000,5.000,5.000,5.000,5.000,5.000,5.000,5.0000,5.000,5.000
42,Mexico,1374.000,1200.000,1300.000,1070.000,1020.000,1179.000,1235.000,1201.000,1108.000,...,2200.000,2354.000,2354.000,2354.000,2321.000,2347.000,2329.000,2360.0000,2400.000,2450.000
43,Nepal,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.000,0.000
44,Nicaragua,34.000,138.000,65.600,108.900,89.600,111.500,95.370,123.000,126.500,...,196.622,202.745,205.261,207.864,209.561,211.742,213.946,216.7280,218.000,220.000
45,Nigeria,27.500,35.750,35.750,40.000,40.000,40.000,40.000,40.000,40.000,...,40.000,40.000,40.000,40.000,40.000,40.000,40.000,40.0000,40.000,40.000
46,Panama,63.000,67.000,67.000,67.000,76.667,76.667,76.667,80.615,67.000,...,67.000,67.000,67.000,67.000,67.000,67.000,67.000,67.0000,67.000,67.000
47,Sierra Leone,9.000,9.000,9.000,5.000,5.000,8.000,8.000,5.000,5.000,...,5.000,5.000,5.000,5.000,5.000,5.000,5.000,5.0000,5.000,5.000
48,Sri Lanka,66.667,67.000,28.000,20.000,20.000,20.000,20.000,20.000,30.000,...,30.000,35.000,35.000,35.000,35.000,35.000,35.000,35.0000,35.000,35.000
49,Thailand,188.000,220.000,233.000,250.000,283.000,417.000,333.000,390.000,433.000,...,700.000,775.000,1100.000,1130.000,1200.000,1250.000,1300.000,1350.0000,1375.000,1400.000
50,Togo,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,2.000,...,2.000,2.000,0.210,0.242,0.238,0.195,0.220,0.2540,0.254,0.254
51,Trinidad & Tobago,8.000,11.500,10.000,10.000,14.000,14.000,14.000,14.000,14.000,...,11.000,10.000,10.000,10.000,10.000,10.000,10.000,10.0000,10.000,10.000
52,Uganda,70.000,75.000,75.000,75.000,80.000,80.000,80.000,101.190,116.000,...,188.700,204.000,210.000,216.000,220.800,229.200,234.000,240.0000,244.800,250.000
53,Venezuela,782.390,815.480,849.970,885.930,923.400,962.460,1003.180,1045.610,1089.840,...,1650.000,1650.000,1650.000,1650.000,1650.000,1650.000,1650.000,1650.0000,1600.000,1550.000
54,Viet Nam,150.000,230.000,250.000,267.000,267.000,281.845,297.516,314.058,331.519,...,1208.000,1583.000,1650.000,1825.000,2000.000,2200.000,2300.000,2400.0000,2500.000,2700.000
55,Yemen,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,130.000,130.000,130.000,130.000,130.000,125.000,115.000,100.0000,90.000,65.000

In [7]:
coffee_df_2016 = coffee_df[['domestic_consumption', '2016']].copy()
coffee_df_2016.head()

               domestic_consumption     2016
0                            Angola     30.0
1  Bolivia (Plurinational State of)     57.0
2                            Brazil  21225.0
3                           Burundi      2.0
4                           Ecuador    155.0

In [8]:
coffee_df_2016.rename(columns={"domestic_consumption" : "country", "2016" : "coffee_consumption"}, inplace=True)
coffee_df_2016.head()

                            country  coffee_consumption
0                            Angola                30.0
1  Bolivia (Plurinational State of)                57.0
2                            Brazil             21225.0
3                           Burundi                 2.0
4                           Ecuador               155.0

In [9]:
#load in happy and beers data and create pandas datafile
HappinessAlcohol_file = "Resources/HappinessAlcoholConsumption.csv"
HappinessAlcohol_df = pd.read_csv(HappinessAlcohol_file)
HappinessAlcohol_df.head()

,Country,Region,Hemisphere,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita
0,Denmark,Western Europe,north,7.526,928,53.579,224,81,278
1,Switzerland,Western Europe,north,7.509,943,79.866,185,100,280
2,Iceland,Western Europe,north,7.501,933,60.530,233,61,78
3,Norway,Western Europe,north,7.498,951,70.890,169,71,129
4,Finland,Western Europe,north,7.413,918,43.433,263,133,97

In [10]:
HappinessAlcohol_df = HappinessAlcohol_df.drop(['Region','Hemisphere'],axis=1)

In [11]:
HappinessAlcohol_df = HappinessAlcohol_df.rename(columns={'Country':'country','HappinessScore': "happinessscore",
                                                'HDI':'hdi','GDP_PerCapita':'gdp_percapita','Beer_PerCapita':'beer_percapita',
                                                'Spirit_PerCapita':'spirit_percapita','Wine_PerCapita':'wine_percapita'})

In [12]:
HappinessAlcohol_df.head()

,country,happinessscore,hdi,gdp_percapita,beer_percapita,spirit_percapita,wine_percapita
0,Denmark,7.526,928,53.579,224,81,278
1,Switzerland,7.509,943,79.866,185,100,280
2,Iceland,7.501,933,60.530,233,61,78
3,Norway,7.498,951,70.890,169,71,129
4,Finland,7.413,918,43.433,263,133,97

In [13]:
conn = f'postgresql://postgres:{password}@localhost:5432/ETL'

In [14]:
engine = create_engine(conn, echo=True)
sqlite_connection = engine.connect()

2021-06-15 19:05:13,892 INFO sqlalchemy.engine.base.Engine select version()
2021-06-15 19:05:13,895 INFO sqlalchemy.engine.base.Engine {}
2021-06-15 19:05:13,897 INFO sqlalchemy.engine.base.Engine select current_schema()
2021-06-15 19:05:13,898 INFO sqlalchemy.engine.base.Engine {}
2021-06-15 19:05:13,900 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-06-15 19:05:13,900 INFO sqlalchemy.engine.base.Engine {}
2021-06-15 19:05:13,901 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-06-15 19:05:13,902 INFO sqlalchemy.engine.base.Engine {}
2021-06-15 19:05:13,902 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2021-06-15 19:05:13,902 INFO sqlalchemy.engine.base.Engine {}

In [15]:
coffee_df_2016.to_sql('coffee_df_2016', con=engine, if_exists='append', index=False)

suicide_df_2016.to_sql('suicide_df_2016', con=engine, if_exists='append', index=False)

HappinessAlcohol_df.to_sql('happinessalcohol_df', con=engine, if_exists='append', index=False)

2021-06-15 19:05:15,111 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-06-15 19:05:15,111 INFO sqlalchemy.engine.base.Engine {'name': 'coffee_df_2016'}
2021-06-15 19:05:15,114 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-06-15 19:05:15,115 INFO sqlalchemy.engine.base.Engine INSERT INTO coffee_df_2016 (country, coffee_consumption) VALUES (%(country)s, %(coffee_consumption)s)
2021-06-15 19:05:15,115 INFO sqlalchemy.engine.base.Engine ({'country': 'Angola', 'coffee_consumption': 30.0}, {'country': 'Bolivia (Plurinational State of)', 'coffee_consumption': 57.0}, {'country': 'Brazil', 'coffee_consumption': 21225.0}, {'country': 'Burundi', 'coffee_consumption': 2.0}, {'country': 'Ecuador', 'coffee_consumption': 155.0}, {'country': 'Indonesia', 'coffee_consumption': 4650.0}, {'country': 'Madagascar', 'coffee_consumption': 360.0}, {'country': 'Malawi', 'coffee_consumption': 1.0}  ... displaying 10 of 56 total bound parameter sets ...  {'country': 'Viet Nam', 'coffee_consumption': 2400.0}, {'country': 'Yemen', 'coffee_consumption': 100.0})
2021-06-15 19:05:15,125 INFO sqlalchemy.engine.base.Engine COMMIT
2021-06-15 19:05:15,129 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-06-15 19:05:15,129 INFO sqlalchemy.engine.base.Engine {'name': 'suicide_df_2016'}
2021-06-15 19:05:15,131 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-06-15 19:05:15,132 INFO sqlalchemy.engine.base.Engine INSERT INTO suicide_df_2016 (country, suicidecount) VALUES (%(country)s, %(suicidecount)s)
2021-06-15 19:05:15,132 INFO sqlalchemy.engine.base.Engine ({'country': 'Armenia', 'suicidecount': 67}, {'country': 'Austria', 'suicidecount': 1201}, {'country': 'Croatia', 'suicidecount': 683}, {'country': 'Cyprus', 'suicidecount': 36}, {'country': 'Czech Republic', 'suicidecount': 1318}, {'country': 'Grenada', 'suicidecount': 0}, {'country': 'Hungary', 'suicidecount': 1761}, {'country': 'Iceland', 'suicidecount': 40}  ... displaying 10 of 16 total bound parameter sets ...  {'country': 'Sweden', 'suicidecount': 1130}, {'country': 'Thailand', 'suicidecount': 4117})
2021-06-15 19:05:15,137 INFO sqlalchemy.engine.base.Engine COMMIT
2021-06-15 19:05:15,143 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-06-15 19:05:15,144 INFO sqlalchemy.engine.base.Engine {'name': 'happinessalcohol_df'}
2021-06-15 19:05:15,146 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-06-15 19:05:15,148 INFO sqlalchemy.engine.base.Engine INSERT INTO happinessalcohol_df (country, happinessscore, hdi, gdp_percapita, beer_percapita, spirit_percapita, wine_percapita) VALUES (%(country)s, %(happinessscore)s, %(hdi)s, %(gdp_percapita)s, %(beer_percapita)s, %(spirit_percapita)s, %(wine_percapita)s)
2021-06-15 19:05:15,149 INFO sqlalchemy.engine.base.Engine ({'country': 'Denmark', 'happinessscore': 7.526, 'hdi': 928, 'gdp_percapita': 53.57899999999999, 'beer_percapita': 224, 'spirit_percapita': 81, 'wine_percapita': 278}, {'country': 'Switzerland', 'happinessscore': 7.5089999999999995, 'hdi': 943, 'gdp_percapita': 79.866, 'beer_percapita': 185, 'spirit_percapita': 100, 'wine_percapita': 280}, {'country': 'Iceland', 'happinessscore': 7.501, 'hdi': 933, 'gdp_percapita': 60.53, 'beer_percapita': 233, 'spirit_percapita': 61, 'wine_percapita': 78}, {'country': 'Norway', 'happinessscore': 7.497999999999999, 'hdi': 951, 'gdp_percapita': 70.89, 'beer_percapita': 169, 'spirit_percapita': 71, 'wine_percapita': 129}, {'country': 'Finland', 'happinessscore': 7.412999999999999, 'hdi': 918, 'gdp_percapita': 43.433, 'beer_percapita': 263, 'spirit_percapita': 133, 'wine_percapita': 97}, {'country': 'Canada', 'happinessscore': 7.404, 'hdi': 922, 'gdp_percapita': 42.349, 'beer_percapita': 240, 'spirit_percapita': 122, 'wine_percapita': 100}, {'country': 'Netherlands', 'happinessscore': 7.3389999999999995, 'hdi': 928, 'gdp_percapita': 45.638000000000005, 'beer_percapita': 251, 'spirit_percapita': 88, 'wine_percapita': 190}, {'country': 'New Zealand', 'happinessscore': 7.334, 'hdi': 915, 'gdp_percapita': 40.332, 'beer_percapita': 203, 'spirit_percapita': 79, 'wine_percapita': 175}  ... displaying 10 of 122 total bound parameter sets ...  {'country': 'Togo', 'happinessscore': 3.303, 'hdi': 500, 'gdp_percapita': 577.0, 'beer_percapita': 36, 'spirit_percapita': 2, 'wine_percapita': 19}, {'country': 'Syria', 'happinessscore': 3.069, 'hdi': 536, 'gdp_percapita': 2.0580000000000003, 'beer_percapita': 5, 'spirit_percapita': 35, 'wine_percapita': 16})
2021-06-15 19:05:15,169 INFO sqlalchemy.engine.base.Engine COMMIT